<!DOCTYPE html>
<html lang="en">
<%- include('components/head') %>
<%- include('components/theme') %>
<%- include('components/header') %>

<div class="inner-banner">
<div class="container">
    <div class="row  justify-content-center mt-md-6 pt-24 pt-lg-29">
    <div class="col-xl-12 col-lg-12">
        <div class="px-md-12 text-center mb-11 mb-lg-14">
        <h2 class="title gr-text-2 mb-9 mb-lg-12">Dolorem id quisquam neque alias illum corrupti voluptatem.</h2>
        </div>
    </div>
    <div class="col-12">
        <div class="banner-fluid-image pt-lg-9">
        <img src="/static/image/inner/about-banner.png" alt="" class="w-100">
        </div>
    </div>
    </div>
</div>
</div>
<div class="main-block py-6 py-lg-17">
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-8">
          <div class="single-block mb-12 mb-lg-15">
            <p class="gr-text-9 mb-9">Headquartered in Melbourne, Australia, Envato is a completely online company with an ecosystem of sites and services to help people get creative. We’ve consistently been named as one of the Best Places to Work in Australia, since 2015, in the BRW Awards, and we’ve also been awarded the title of Australia's Coolest Company for Women and Diversity by JobAdvisor.</p>
            <p class="gr-text-9 mb-9">Envato was found in 2006 and, since then, we’ve helped a community of creative sellers earn more than $500 Million. Millions of people around the world choose our marketplace, studio and courses to buy files, hire freelancers, or learn the skills needed to build websites, videos, apps, graphics and more. Find out more at Envato Market, Envato Elements, Envato Sites, Envato Studio and Tuts+.</p>
            <p class="gr-text-9 mb-0">You might be surprised to know that not only do we run some of the biggest websites in the world; we’re also growing really fast! We have close to 600 staff and contractors worldwide, adding more than 100 people to the business, year on year, since 2017.</p>
          </div>
          <div class="testimonial-card mb-12 mb-lg-15">
            <div class="quote-icon pb-6">
              <img src="/static/image/l4/png/quote.png" alt="">
            </div>
            <p class="review-text gr-text-6 font-weight-bold gr-text-color pr-xl-11 mb-0">“OMG! I cannot believe that I have got a brand new landing page after getting Omega. It was super easy to edit and publish.”</p>
            <div class="customer-identity d-flex pt-8">
              <h3 class="name gr-text-9 font-weight-bold mb-0">Diego Morata</h3>
              <p class="rank gr-text-9 pl-5 gr-text-color-opacity mb-0">Web Developer</p>
            </div>
          </div>
          <div class="single-block mb-12 mb-lg-15">
            <h3 class="gr-text-6 font-weight-bold mb-9">What you’ll be doing</h3>
            <p class="gr-text-9 mb-0">A Senior Data Engineer provides technical and delivery leadership for a team of developers working on data integration and processing projects. This role will work with stakeholders and other developers to design and implement technical data solutions for the business in a way that balances quality, cost, time and maintainability.</p>
          </div>
          <div class="single-block mb-12 mb-lg-14">
            <h3 class="gr-text-6 font-weight-bold pb-3">Skills & Qualifications</h3>
            <ul class="list-styled">
              <li class="mt-7 gr-text-9"><i class="rounded-circle bg-opposite d-inline-block mr-5" style="width: 9px;height:9px"></i>Business Intelligence solutions</li>
              <li class="mt-7 gr-text-9"><i class="rounded-circle bg-opposite d-inline-block mr-5" style="width: 9px;height:9px"></i>Cloud computing platforms (AWS)</li>
              <li class="mt-7 gr-text-9"><i class="rounded-circle bg-opposite d-inline-block mr-5" style="width: 9px;height:9px"></i>Relevant server-side programming languages (C# .NET)</li>
              <li class="mt-7 gr-text-9"><i class="rounded-circle bg-opposite d-inline-block mr-5" style="width: 9px;height:9px"></i>SQL and NoSQL database solutions (AWS Redshift and AWS DynamoDB)</li>
              <li class="mt-7 gr-text-9"><i class="rounded-circle bg-opposite d-inline-block mr-5" style="width: 9px;height:9px"></i>Big data processing frameworks and concepts</li>
              <li class="mt-7 gr-text-9"><i class="rounded-circle bg-opposite d-inline-block mr-5" style="width: 9px;height:9px"></i> DevOps practices</li>
              <li class="mt-7 gr-text-9"><i class="rounded-circle bg-opposite d-inline-block mr-5" style="width: 9px;height:9px"></i>Serverless Architecture</li>
              <li class="mt-7 gr-text-9"><i class="rounded-circle bg-opposite d-inline-block mr-5" style="width: 9px;height:9px"></i>*NIX operating systems</li>
              <li class="mt-7 gr-text-9"><i class="rounded-circle bg-opposite d-inline-block mr-5" style="width: 9px;height:9px"></i>Demonstrates ability to communicate effectively with the rest of the team</li>
            </ul>
          </div>
          <div class="single-block mb-12 mb-lg-15">
            <h3 class="gr-text-6 font-weight-bold mb-9">How to apply</h3>
            <p class="gr-text-9 mb-9">A Senior Data Engineer provides technical and delivery leadership for a team of developers working on data integration and processing projects. This role will work with stakeholders and other developers to design and implement technical data solutions for the business in a way that balances quality, cost, time and maintainability.</p>
          </div>
        </div>
        <div class="col-lg-4">
            <div class="px-8">
                <div class="pb-6 px-4 border-bottom">
                    <span class="gr-text-6 font-weight-bolder ">Recent Posts</span>
                </div>
                <div class="py-6 px-4 font-weight-bold gr-text-9">
                    <a href="#" class="text-blackish-blue gr-hover-text-green">How To Blow Through Capital At An Incredible Rate <i class="fa fa-arrow-right ml-2"></i></a>
                </div>
                <div class="py-6 px-4 font-weight-bold gr-text-9">
                    <a href="#" class="text-blackish-blue gr-hover-text-green">Design Studios That Everyone Should Know About? <i class="fa fa-arrow-right ml-2"></i></a>
                </div>
                <div class="py-6 px-4 font-weight-bold gr-text-9">
                    <a href="#" class="text-blackish-blue gr-hover-text-green">How did we get 1M+ visitors in 30 days without anything!<i class="fa fa-arrow-right ml-2"></i></a>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
<div class="pt-13 pt-md-25 pb-13 pb-md-25 bg-default-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-title text-center">
            <h2 class="gr-text-4">
              Related Articles
            </h2>
          </div>
        </div>
      </div>
      <div class="row mt-8" data-aos="fade-right" data-aos-duration="600" data-aos-once="true">
        <div class="col-md-6 col-lg-4 px-2">
            <%- include('components/blog-card') %>
        </div>
      </div>
    </div>
  </div>
    
<%- include('components/footer') %>
</body>
</html>
