<!DOCTYPE html>
<html lang="en">
<%- include('components/head') %>
<%- include('components/theme') %>
<%- include('components/header') %>

<div class="inner-banner">
    <div class="container">
      <div class="row  justify-content-center mt-md-6 pt-24 pt-lg-20">
        <div class="col-xl-8 col-lg-9">
          <div class="px-md-12 text-center mb-11 mb-lg-14">
            <h2 class="title gr-text-2 mb-4 mb-lg-6">Blogs</h2>
            <p class="gr-text-8 mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur sapiente velit reiciendis, dignissimos eligendi error omnis molestiae eius.</p>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="container">
    <div class="row pt-12 pt-lg-16 pb-lg-16">
        <div class="col-md-6 col-lg-4">
            <%- include('components/blog-card') %>
        </div>
        <div class="col-md-6 col-lg-4">
            <%- include('components/blog-card') %>
        </div>
        <div class="col-md-6 col-lg-4">
            <%- include('components/blog-card') %>
        </div>
    </div>
</div>


<%- include('components/newsletter') %>
    
<%- include('components/footer') %>
</body>
</html>